body {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
}
/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  display: flex;
  flex-direction: row;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-header .logo-header-accent {
  color: #2e2f42;
}
.navigation-link {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.navigation-link .link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.navigation-link .link:hover,
.navigation-link .link:focus {
  color: #404bbf;
}
.navigation-link .link:active {
  color: #404bbf;
}
.all-adresses {
  font-style: normal;
}
.address-link {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.address-link .contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.address-link .contacts:hover,
.address-link .contacts:focus {
  color: #404bbf;
}
/* MAIN */
section {
  padding-bottom: 120px;
}
ul {
  list-style: none;
}
/* HERO */
.main-title {
  background-color: #2e2f42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.main-heading {
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  height: 56px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* FIRS SECTION*/
.first-section {
  padding-top: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.flex-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.first-section .item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.first-section .text-section {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.text-item {
  width: calc((100%-72px) / 4);
}
/* TEAM */
.team-section {
  background-color: #ffffff;
  padding-top: 120px;
}
.flex-card {
  display: flex;
  gap: 24px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}
.section-title {
  margin-bottom: 70px;
  margin-top: 0;
}
.team-section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-card {
  background-color: #8e8f99;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-section .item-title {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-section .text-section {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.name {
  padding: 32px 0;
}
/* PORTFOLIO */
.portfolio-section {
  padding-top: 120px;
}
.portfolio-section .section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-title {
  margin-bottom: 72px;
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}
.products {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  width: 360px;
  height: 420px;
}
.portfolio-card .item-title {
  margin-bottom: 8px;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-card .text-section {
  margin: 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* FOOTER */
.site-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-footer .logo-footer-accent {
  color: #f4f4fd;
}
.site-footer .text-section {
  width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
